
	{{ form_start(form, { 'attr': {'id': 'search_form'} }) }}
				
	<div>
	{{ form_widget(form.q, {'attr': {'class': 'form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
	</div>
	{{ form_end(form) }}
{# class="col-xs-10 col-sm-8 col-md-5 col-lg-4"#}
