 {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/inscription.css') }}" media="screen">
    {% endblock %}


<div id="popup" class="overlay">
    <div class="popup">
      <h2>Terms and conditions</h2>
      <a href="#" class="cross">&times;</a>

      <p> 
        This website is operated by Instrumenthol. Throughout the site, we use the terms “we”, “us” and “our” in reference to Instrumenthol. This website, including all information, tools and services to which it provides access, is offered by Instrumenthol to you as a user, conditioned upon your acceptance of all terms, conditions, policies and notices stated herein.
        By visiting our site and/or purchasing something from our company, you are taking part in our "Service" and agreeing to be bound by the following terms and conditions ("Terms and Conditions", "Terms of Service"). ”), including by the terms, conditions and policies mentioned herein and/or accessible by hyperlink. These Terms of Use apply to all users of the Site, including, without limitation, individuals who are visitors, vendors, customers, merchants and/or content providers.
        Please read these Terms of Use carefully before accessing and using our website. By accessing or using any part of the Site, you agree to be bound by these Terms of Use. If you do not accept all the terms and conditions of this agreement, you will not be able to use its services.

        Any new tools or features that are added to this store are also subject to the Terms of Service. You can review the most recent version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting such updates or changes to our website. It is your responsibility to check this page from time to time to see if any changes have been made. By continuing to access or use the Website after any changes are posted, you accept those changes.
        Our web application is hosted on the Grenoble iut2 server. </p> 

<h4> SECTION 1 - TERMS OF USE </h4>
<p> 
  By accepting these Terms of Use, you represent that you have reached or exceeded the age of majority in your region, province or state and that you have given us permission to allow any minor dependents of yours to use this site.
  You must not use our products for any illegal or unauthorized purpose in any way, or violate any laws in your jurisdiction when using the Service, including copyright laws.
  You must not transmit worms, viruses or any code of a destructive nature. A breach or breach of any of the Terms will result in immediate termination of your Services.
</p> 
<h4> SECTION 2 – GENERAL CONDITIONS  </h4>
<p> 
  We reserve the right to refuse to serve anyone at any time and for any reason.
  You understand that your content may be transferred unencrypted and that this includes transmissions over multiple networks; and changes made in order to comply and adapt to the technical requirements of the connection of networks or devices, in particular your email address or your first and last name.
  You agree not to reproduce, duplicate, copy, sell, resell or exploit any part of the Service, any use of the Service or any access to the Service, or any contact on the website through which the Service is provided, without our authorization. expressly written.
  The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
</p> 
<h4>  SECTION 3 – ACCURACY AND TIMELINESS OF INFORMATION </h4>
<p> 
  We cannot be held responsible if the information offered on this site is inaccurate, incomplete or outdated. The material on this site is provided for general information only and should not be relied upon or relied upon as the sole basis for making decisions without consulting more substantial, more accurate, more complete or more current sources of information. If you rely on the content of this site, you do so at your own risk.
  This site may contain certain historical data. By definition, historical data is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information it contains. You acknowledge that it is your responsibility to monitor changes to our site.
</p> 
<h4> SECTION 4 – PRODUCTS </h4>
<p> 
  We have made every effort to present the sound quality of the products listed on the store as accurately as possible. However, we cannot guarantee the accuracy of your speakers or computer.
  We reserve the right, but are not obligated, to limit the sale of Beats to any person, geographic region or jurisdiction of
  year. We allow ourselves to exercise this right on a case-by-case basis. We reserve the right to discontinue the sale of any product at any time. Any product or service offer on this site is void where prohibited by law.
</p> 
<h5> ARTICLE 1 – THIRD-PARTY LINKS </h5>
<p> 
  Certain content, products and services accessible through our Service may include materials from third parties.
  Third-party links on this site may redirect you to third-party websites that are not affiliated with us. We are under no obligation to review or evaluate their content or accuracy, nor do we warrant or assume any responsibility for the content or websites, or other content, products or services from third party sources. We are not responsible for any harm or damages related to the purchase or use of goods, services, resources, content or any other transaction related to these third-party websites. Please read the policies and practices of these third parties carefully and make sure you understand them before engaging in any transaction. Complaints, claims, concerns or questions regarding third party products should be directed to those same third parties.
</p> 
<h5> 
  ARTICLE 2 – COMMENTS, FEEDBACK AND OTHER SUBMISSIONS </h5>
<p> 
  If, at our request, you submit specific content (for example, as part of your participation in competitions), or if, without our request, you send creative ideas, suggestions, proposals, plans or other materials, whether online, by email, by post or otherwise (collectively, "Comments"), you grant us the right at any time and without restriction to modify, copy, publish, distribute, translate and use in any media any comments you send to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to compensate anyone for any comments provided; or (3) respond to comments.
  We may, but have no obligation to, remove content and Accounts containing content that we determine, in our sole discretion, are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates the intellectual property of a party or these Terms of Service.
 You agree that your comments must not in any way infringe the rights of third parties, including copyrights, trademarks, privacy, personality or any other personal or intellectual property rights. You further agree that your comments should not contain any unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone you are not, or attempt to mislead us or third-parties as to the origin of any comments.
</p> 
<h5> ARTICLE 3 – PERSONAL INFORMATION </h5>
<p> 
  Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions relating to descriptions, prices. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information, even to cancel orders if any information in the Service or on any related website is inaccurate, and this, at any time without notice including after you have won your bid.
  We are under no obligation to update, change or clarify any information set forth in the Service or on any related website, including but not limited to price information, except as required by law. No specific update or refresh date applied to the Service or any related website can be defined to indicate that all of the information offered in the Service or on any related website has been modified or updated.
</p> 

<h5>ARTICLE 4 – PROHIBITED USES</h5>
<p> 
  In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content:
  (a) for any unlawful purpose; (b) to induce others to perform or participate in any unlawful acts; (c) to violate any local ordinance or international, federal, provincial or state regulation, rule or law; (d) to infringe or violate our intellectual property rights or those of third parties; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate against anyone based on gender, sexual orientation, religion, ethnicity, race, age, national origin or disability; (f) to submit false or misleading information;
  (g) to upload or transmit viruses or any other type of malicious code that will or could be used to compromise the functionality or operation of the Service or any related website, as well as other websites or from the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, hijack a domain, extort information, browse, explore or scan the web; (j) for obscene or immoral purposes; or (k) to disrupt or circumvent the security measures of the Service or any related site, as well as other websites or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any prohibitions on use.
</p> 

<h5> 
  ARTICLE 5 – EXCLUSION OF WARRANTIES AND LIMITATION OF LIABILITY </h5>
<p> 
  We do not warrant, warrant or represent that your use of our Service will be uninterrupted, secure, timely or error-free.
  We do not warrant that the results that may be obtained from using the Service will be accurate or reliable.
  You agree that, from time to time, we may withdraw the Service for indefinite periods or cancel it at any time without notice.
  In no event shall Instrumenthol be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages, including but not limited to lost profits, revenue , savings or data, replacement costs or other similar damages, whether in contract, tort (even in negligence), strict liability or otherwise, arising out of your use of the Service or any service or product using the Service. this, or any other claim related in any way to your use of the Service or any product, including but not limited to errors or omissions in any content, or any loss or damage arising from the use of the Service or from any content (or product) published, transmitted or made accessible through the Service, even if you have been warned of the possibility that they may occur.
  Because some states or jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, our liability in such states or jurisdictions shall be limited to the maximum extent permitted by law.
</p> 
<h5> ARTICLE 6 – INDEMNIFICATION </h5>
<p> 
  You agree to indemnify, defend and hold Instrumenthol and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees harmless. any claim or demand, including reasonable attorneys' fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any laws or rights of a third party.
</p> 
<h5> 
  ARTICLE 7 – SEVERABILITY </h5>
<p> 
  In the event that any provision of these Terms of Service is held to be unlawful, void or unenforceable, such provision shall nevertheless be enforceable to the fullest extent permitted by law, and the unenforceable portion shall be deemed severed from these Terms of Service. use, without this judgment affecting the validity and applicability of the other provisions.
</p> 
<h5>ARTICLE 8 – Commitment</h5>
<p> 
  "By submitting a bid to an auction, you agree to pay the seller the full amount of your winning bid if you win the auction. Failure to pay may result in legal action being taken against you. Be sure to do not submit a bid if you are unable to meet this financial commitment."
</p> 
<h5> ARTICLE 9 – Authenticities </h5>
<p> 
  "As the seller of an auction, you certify that you are the original author and exclusive copyright owner of the music offered. You agree that any copyright or intellectual property infringement, such as stealing the instrumental from another site will result in legal action and liability for all resulting damages. Be sure to comply with applicable laws before bidding on this auction."
</p>
<h5> ARTICLE 10 – APPLICABLE LAW </h5>
<p> 

  These Terms of Use, and any separate agreement by which we provide to you are governed by and construed under the laws of France.
</p> 
<h5>ARTICLE 11 – CHANGES MADE TO THE CONDITIONS OF USE  </h5>
<p> 
  You can review the most recent version of the Terms of Service at any time on this page.
  We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting such updates and/or changes to our website. It is your responsibility to check our website from time to time to see if any changes have been made. By continuing to access or use our website and the Service after we post any changes to these Terms of Service, you accept those changes.
</p> 
<h5>
  ARTICLE 20 - CONTACT DETAILS </h5>
<p> 
  Questions relating to the Terms of Use should be sent to us at Fares.Medjahed@etu.univ-grenoble-alpes.fr 
</p> 
    </div>
  </div>
