

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/inscription.css') }}" media="screen">
{% endblock %}

<div id="fenetre" class="overlay">
    <div class="fenetre">
        
        <h1> Copyright Assignment Agreement </h1>
      
        <p><strong>
            "Warning: this contract will come into force once the auction is won. For the seller, this contract will come into force as soon as the beat is put up for sale at auction."

        </strong></p>

        <p>Assign: "The author of the beat agrees to assign the economic rights of the beat to the winner of the auction, without restriction or claim, once payment in full has been received by the author."
            The assignment is granted on an exclusive basis. </p>
        
        <p>The assignee: "The assignee agrees to include the name of the author (artist) of this beat in all credits for the production or use of the beat, whether online publications, live performance or commercial use." </p>

      <a href="#" class="cross">&times;</a>
             
      <ol>
        <h4>Object of the contract</h4>
            <li><p> contract As creator, the Assignor is the holder
        legitimate work thus described: Beats (instrumental)
            </p></li>
                    
            <li><p>
            The Assignor aims to authorize the Assignee to operate
            the Work for the following purposes: commercial. By this contract, the parties specify the conditions
            of the exploitation of the Work as well as the remuneration of the Assignor.
            </p> </li>
        <h4>Effective date and duration of the contract</h4>
            <li><p>
            The Assignor declaring himself capable of contractually committing assigns his rights
            of copyright on the Work for the benefit of the Assignee as of November 28
            2022 ("effective date") for the entire term of literary property
            and artistic prescribed by applicable laws
            </p></li>
        <h4> Territory of the assignment </h4>
            <p>
            This assignment of copyright in the Work is granted
            for use in France and worldwide.
            </p>
        <h4>Rights ceded</h4>
            <li><p>
            assigned The Assignor assigns to the Assignee the property rights attached
            to the work and its title, and in particular the rights:
            </p> </li>
            
            <ol>
                <li><p>
                to reproduce it and/or have it reproduced by any technical process known or unknown to date
                 on all media and in all formats;
                </p></li>
    
                <li><p>
                to represent it by putting and or causing to be put into circulation the originals, duplicates and copies
                 of the Work, for any communication to the public
                </p></li>
    
                <li><p>
                to modify it, adapt it, translate it; Where
                </p></li>
    
                <li><p>
                to incorporate it, in whole or in part, into any pre-existing work or to be created
                </p></li>
        </ol>
    
                <li><p>
                On the other hand, the Assignee is prohibited from assigning the rights referred to in this contract
                to anyone,
                without the prior, express and written authorization of the Transferor.
                </p></li>
        
            <h4>Guarantees </h4>
                <li><p>
                The Assignor declares and guarantees to be the legitimate holder of the rights
                patrimonial rights on the Work and that the patrimonial rights relating to this
                transfer have not been subject
                any other assignment or operating license granted to third parties.
                </p></li>
    
                <li><p>
                The Transferor declares and guarantees that he has not introduced into the Work
                any reproduction likely to violate the rights of third parties, and
                that if he took over any element of a pre-existing work,
                he has obtained the prior agreement of his author, that to his knowledge,
                the rights transferred are not currently the subject of any infringement.
                </p></li>



                <li><p>
                    The Assignor declares and warrants that it has fulfilled its legal obligations
                     in the image by express authorization requested from the persons
                     physical or moral appearing on the work that is the subject of this
                     assignment.
                </p></li>
    
                <li><p>
                The Assignee undertakes to respect the moral rights of the Assignor
                on his work. However, the Assignor acknowledges being aware of the
                any modifications and/or alterations that may result from the
                reproduction of the work and undertakes not to contest these,
                as soon as they are imposed by technical necessities.
                </p></li>
    
            <h4> remuneration of the transferor</h4>
                <li><p>
                The Assignee agrees to pay to the Assignor as consideration for its assignment,
                 a fixed and final remuneration, an amount which will be determined by the auction. His remuneration will be paid to him in full no later than 1 week after
                have won the following auction: you have to put something the name of the beats
                </p></li>
    
    
            <h4>Applicable laws</h4>
                <li><p>
                This contract will be interpreted and governed in accordance with French law.
                and the parties submit
                hereby to the jurisdiction of the French courts.
                </p></li>
            <h4>Divisibility</h4>
                <li><p>
                If a part of the clauses of this contract turns out to be invalid or inapplicable according to the law in force this part will be without effect without that
                this invalidation does not affect
                the other clauses of this document
                </p></li>

                <h4> Modification of the contract</h4>
                <li><p>
                Any modification of the contract will be written and signed by
                each part, note that the instrumenthol site does not
                will take no responsibility for the modifications of the
                contract on condition that this disrupts the proper functioning
                of the company and will have to be settled between the assignor and the assignee.
                </p></li>
    
            <h4> General provisions</h4>
                <li><p>
                Time is an essential condition of the contract no extension or variation
                of the contract shall not constitute a waiver of this provision.
                </p></li>
    
                <li><p>
                Titles and headings are inserted for the convenience of the parties only and do not prejudge the interpretation of this contract.
                Words in the singular mean and include the plural and vice versa.
                Words in the masculine mean and include the feminine and vice versa.
                </p></li>
    
                <li><p>
                Any failure or delay on the part of the issuing party to exercise any
                power, right, or privilege provided for in this contract does not constitute
                a waiver of the same, partial exercise of such rights, powers
                or privileges does not exclude
                not exercise any other right, power or privilege provided for in this contract
                </p></li>
    
    
                <li><p>
                This contract constitutes the entire contract between the parties
                and there are no other terms or additional provisions, oral or otherwise.
                </p></li>

                <li><p>
                    This present contract
                    may only be changed in writing signed by
                    all parties to this contract
                    </p></li>
            
                    <li><p>
                    If any term of this contract is found to be unreasonable by a court of competent jurisdiction,
                    an arbitration committee or other subject matter expert, the
                    clause will be deleted from this contract and the rest of the contract
                    will remain in effect
                    </p></li>
        
                    <li><p>
                    This contract will apply
                    to the parties and their respective successors and assigns.
                    </p></li>    
            </ol>
    </div>
</div>
